---
version: '2'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper
    network_mode: host
#    hostname: zookeeper
#    ports:
#      - "2181:2181"    
    environment:
      ZOOKEEPER_CLIENT_PORT: 32181
      ZOOKEEPER_TICK_TIME: 2000
    extra_hosts:
      - "moby:127.0.0.1"

  kafka:
    image: confluentinc/cp-kafka
    network_mode: host
#    hostname: broker
    depends_on:
      - zookeeper
#    ports:
#      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: localhost:32181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:29092
    extra_hosts:
      - "moby:127.0.0.1"
